
body{
  height: 100vh;
  width: 100%;
  background-color: rgba(33, 25, 25, 0.212);
}
main{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
img{
  height: 200px;
 

}
button{
  padding: 20px;
  border-radius: 20px;
  font-size: 30px;
  transition: all 0.2s;
}
button:active{
  transform: scale(1.2);
}